.typd-box {
    text-align: right !important;
    position:fixed !important;
    left: 0px !important;
    bottom:-50px;
    width:100% !important;
    height:50px !important;
    border-left: 5px solid #007AB7 !important;
    background-color:#FAFAFA !important;
    z-index:9999 !important;
    font-size: 11px !important;
}
.typd-message {
    margin: 0px 15px !important;
    font-size: 11px !important;
}
.typd-message p{
    float: left !important;
    padding: 5px !important;
    margin: 4px !important;
    font-size: 11px !important;
    display:inline-block !important;
    font-weight: bold !important;
    color: #666666 !important;
}
.typd-btn {
    cursor: pointer !important;
    display:inline-block !important;
    padding: 5px 10px !important;
    margin: 5px !important;
    color: white !important;
    background-color:#007AB7 !important;
    border: 1px !important; solid #007AB7 !important;
    font-size: 11px !important;
}

.typd-btn.typd-btn-allow-host,
.typd-btn.typd-btn-deny-host
{
    background-color:#999999 !important;
    border: 1px solid #999999 !important;
}
.typd-btn:hover {
    opacity: 0.8 !important;
}